#!/usr/bin/make -f

export DH_VERBOSE=1

export DH_GOPKG := github.com/ev3dev/lmsasm/lmsasm

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_configure:
	dh_auto_configure
	# Link our packages from the source directory to the $GOPATH
	mkdir -p obj-$(DEB_BUILD_GNU_TYPE)/src/github.com/ev3dev/lmsasm
	ln -s $(CURDIR)/assembler \
		$(CURDIR)/ast \
		$(CURDIR)/bytecodes \
		$(CURDIR)/parser \
		$(CURDIR)/scanner \
		$(CURDIR)/token \
		obj-$(DEB_BUILD_GNU_TYPE)/src/github.com/ev3dev/lmsasm/

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/lmsasm/usr/share/man/man1
	pandoc --standalone --to man debian/lmsasm.md | gzip -9 > debian/lmsasm/usr/share/man/man1/lmsasm.1.gz
